body {
 	background-image: linear-gradient(to right, black , white);
}

#name-company{
	font: Roboto;
	font-weight: bold;
}

h1, label{
	color: white;
}

#company-input{
	font: Roboto,
	font-weight: bold;
	color: black;
	font-size: 100px;
	display: flex;
	flex-direction: column;
	text-align: right;
	margin-right: 40px;
	
}
.table-veiculos {
	background-color: white;
	border-radius: 15px;
	box-shadow: 0 5px 20px black;
	padding: 15px;
}

.data-clientes{
	background-color: white;
	border-radius: 15px;
	box-shadow: 0 5px 20px black;
	padding: 15px;
}



.user-helper{
	opacity: 0.5;
	color: gren;
	margin-bottom: 60px; 
}
